@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./fonts.css";
@import "./hero_slider_bullets.css";
@import "./tips_and_tricks_slider_bullets.css";

:root {
  --color-primary: rgba(232, 159, 113, 1);
}

* {
  font-size: 16px;
}

body {
  font-family: "Gilroy", sans-serif;
}
